/* Importación de fuente sin serifa de google fonts
Las importaciones siempre van arriba */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/* Normalizado
Sirve para resetear los paddings y margins, la configuración será igual todos los navegadores */
* {
    margin: 0;
    padding: 0;
}

/* Esta configuración sirve para que el padding y margin
no se sume al modelo de caja */
html {
    box-sizing: border-box;
}
/* Hola, estoy acá. Creo que hay que modif header .container*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Quitar el scroll bar Y para un diseño más limpio */
::-webkit-scrollbar {
    display: none;
}

/* ----- */
body {
    /* Usamos la fuente importada */
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: rgb(254, 255, 13);
    background: radial-gradient(circle, rgba(254, 255, 13, 1) 0%, rgba(255, 204, 1, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* adaptamos las imagenes al 100%, Lautaro comenté esta imagen para no tener scroll vertical y no se vea pixelada*/

img {
    width: 100%;
}

/* Configuramos las secciones que se repiten en todas las páginas */
header,
footer {
    /* Color principal */
    background-color: #FFCC01;
    min-height: 10vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    /* Agregando sombra */
    position: relative;
    box-shadow: 0 1px 5px black;
}
header .container {
    /* Configurando flex box con los elementos */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
    column-gap: 5rem;
}

/* Configurando la imagen logo para que entre en el header */
.img_logo {
    width: 70px;
    /* Agregando sombra al logo */
    background-color: #fff;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px black);
}

/* Configurando los li y anchor */
header ul li {
    list-style-type: none;
    font-size: 1.3rem;
}
header a, footer a {text-decoration: none;}
header a {
    color: black;
}
footer a {
    color: white;
    text-shadow: 0 0 5px black;
}

/* Configurando flex box en ul (contenedor de los li) */
header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

/* Configuración general de main */
main {
    /* Color complementario */
    padding: 2rem;
    /* Centrando texto */
    text-align: center;
    /* Ocupar todo el espacio en blanco restante menos el alto de header y footer */
    min-height: 80vh;
    /* Centramos el contenido del main */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main h1 {
    font-size: 2rem;
}

main h2 {
    font-size: 1.2rem;
}

/* Agregando contenedor */
.container {
    /* Limite ancho */
    max-width: 1200px;
    /* Centramos el contenido */
    margin: 0 auto;
}
/* Imagen de fondo */
.background-img {
    width: 100%;  
    height: 100%;  
    position: absolute;    
    background:transparent url(../multimedia/imagenes/fondo_wallpaper2.png) 
               repeat scroll 0% 0%;  
    opacity: .05;
    z-index: -1;
}
/* Configuración de hover en los li */

header ul li a:hover {
    background-color: #E8A60C;
    transition: all .7s;
}

/* Configuración del link activo */

.link_activo {
    border-bottom: 1px solid black;
}

/* Configurando iconos del footer */

footer {
    background-color: #FFCC01;
    height: 80px;
    width: 100vw;
    position: relative;
    box-shadow: 0 1px 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

footer a {
    margin: 15px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

@media (max-width: 490px) { 
     main {
        padding: 2.5rem .5rem;
     }
 }