@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --color-principal: #F1C232;
    --color-secundario: #F9EF28;

    --fuente-principal: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
}

html, body { 
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    
}

#header img {
    width: 100px;
    filter: drop-shadow(1px 1px 1px black);
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: all .5s;
}

.active_link {
    border-bottom: 3px solid;
}

#header {
    background-color: var(--color-principal);
    padding: 1%;
    height: 120px;
    box-shadow: 0 0 5px black;
    z-index: 10;
}

#main {
    text-align: center;
    background-color: var(--color-secundario);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    padding: 1em;
}

#footer {
    background-color: var(--color-principal);
    height: 50px;
    box-shadow: 0 0 5px black;
}
#header, #footer {
    flex: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a:hover {
    color: black;
}