main h1 {
    margin-bottom: 1rem;
}

.caja-imagen {
    width: 60vw;
    height: 60vw;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../multimedia/imagenes/fondo_comida.jpg");
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border: 1rem solid white;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
}

 main h2 {
    width: 100%;
    padding: 1rem;
    height: fit-content;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.5rem;
    text-align: center;
 }