main .caja-texto {
    background-color: #fff;
    /* 
'ch' es un medida usada para limitar el numero
de caracteres
ch hace referencia a "character" 
60 es un medida máxima para no perderse en la lectura*/
    max-width: 50vw;
    padding: 1rem;
    /* Centrado de caja */
    margin: 0 auto;

    /* Efectos */
    box-shadow: 0 0 5px black;


    margin-bottom: 1rem;
}

main h2 {
    font-size: 150%;
}

main img {
    max-width: 800px;
    border-radius: 50%;
    /* Efectos */
    border: 2rem solid white;
    box-shadow: 0 0 1rem black;
}