.img_principal {
    border: 1px solid black;
}

.descripcion_pag {
    border: 1px solid black;
    max-width: 350px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Configuración general de main */
main {
    /* Color complementario */
    padding: 2rem;
    /* Centrando texto */
    text-align: center;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 670px;
    margin: 0 auto;
}

/* CORRECCIONES DESPUES DE AGREGAR BOOTSTRAP */
/* Corrigiendo header después de agregar bootstrap */
header .container nav ul {
    margin: 0 !important;
    padding: 0 !important;
}

header img {
    vertical-align: unset;
}

#ul {
    margin: 0 !important;
    padding: 0 !important;
}

main a {
    text-decoration: none;
    color: black;
}

header #container {
    margin: 0 auto;
    padding: 0;
}

/* Carousel correccion slide */
.carousel {
    overflow: hidden;
}

header #container {
    /* Configurando flex box con los elementos */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
    column-gap: 5rem;
}

header #container a {
    height: 75px;
}

main .container_imagenes img {
    border-radius: 10px;
}

/* Animaciones */

.container_imagenes {
    border-radius: 50px;
    /* Que el contenido no sobrepase el contenedor */
    overflow: hidden;
    box-shadow: 5px 5px 5px ;
}

.carousel-item {
    /* Para que sus elementos fijen la posicion absoluta*/
    position: relative;
    transition: all 1s ease-in;
}

.carousel-item h2 {
    /* fijar el titulo en el contenedor*/
    position: absolute;
    color: white;
    font-size: 2rem;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.carousel-item img {
    /* Que la imagen cubra todo su contenedor*/
    object-fit: cover;
    object-position: center;
    animation: 5s linear 0s infinite alternate imagenes;
}

/* Animacion */
@keyframes imagenes {
    from {

        transform: scale(1.3);
    }

    to {

        transform: scale(1);
    }
}
/* Medias */
@media (min-width: 800px) {
    main img {
        width: unset;
    }
}

@media (max-width: 450px) {
    main {
        padding: 0;
    }
    main .carousel-item h2 {
        font-size: 1.2rem;
    }
}