@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --first-color: #E80C7E;
    --second-color: #9D01DB;
    --third-color: #F00CF2;
    --fourth-color: #E8930C;

    --font: 'Lato', sans-serif;

    --width-container: 1200px;
}
*,*::after,*::before {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

body {
    font-family: var(--font);
    background-color: var(--first-color);
}
/* Ocultar scroll */
::-webkit-scrollbar {
    display: none;
}

.container {
    width: min(90%, var(--width-container));
    margin: 0 auto;
}

h1,
p {
    margin: 0;
}
.centrar {
    margin: 0 auto;
}
.sombra {
    box-shadow: 5px 5px 5px black;
}

section {
    padding: 15px;
}

.descripcion {
    padding: 15px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

span {
    text-transform: uppercase;
}

img {
    max-width: 250px;
}
/* Header */
header {
    box-shadow: 2px 2px 2px black;
    z-index: 30;
}
.navegacion {
    background-color: var(--first-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    z-index: 20;
}
/* Sección quien */
#quien {
    background-color: var(--second-color);
}
.quien__texto {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px black;
    z-index: 10;
}
.quien__imagen{
    border-radius: 50%;
    z-index: 5;
}
.descripcion{
    margin: 2% auto;
    border-radius: 10px;
    max-width: 75ch;
    text-align: justify;
    color: black;
}
/* Circulos */
.contenedorDatos {
    position: relative;
}
.bigCircle {
    position: absolute;
    right: 15%;
    top: 0;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: var(--first-color);
}
.mediumCircle {
    position: absolute;
    right: 35%;
    top: 100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--fourth-color);
}
.smallCircle {
    position: absolute;
    right: 30%;
    top: 200px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--third-color);
}

/* Sección trabajos */
#trabajos {
    background-color: var(--third-color);
}
.contenedorTarjetas > * {
    text-align: center;
    padding: 1%;
    background-color: var(--first-color);
    margin: 1%;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px black;
}
.contenedorTarjetas > *:hover {
    filter: brightness(.75);
}
.contenedorTarjetas > * > * {
    padding: 1%;
}
.contenedorTarjetas img {
    border-radius: 15px;
}
.thumbnail {
    height: 200px;
}
/* Sección contacto */
#contacto {
    background-color: var(--first-color);
}

fieldset {
    border: none;
    font-size: 1.5em;
    width: 80%;
    margin: 0 0;
}
fieldset > * {
    width: 100%;
}
input, textarea,fieldset > div {
    border-radius: 5px;
    padding: 1%;
    width: 80%;
}
button {
    border: none;
    padding: 1%;
    background-color: var(--second-color);
    color: aliceblue;
    font-weight: bolder;
    cursor: pointer;
    width: 40%;
    margin: 1% 0;
}
/* Cajas flexibles */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}
/* Flotante redes */
.flotante {
    position: sticky;
    left: 25%;
    bottom: 1%;
    font-size: 50px;
    padding: 1%;
    width: 50%;
    background-color: var(--fourth-color);
    border-radius: 15px;
    border: 1px solid black;
    justify-content: space-evenly;
    opacity: .7;
}
.flotante:hover {
    opacity: 1;
}
/* Efectos */
button:hover{
    background-color: var(--third-color);
}
.flotante > *:hover{
    color: var(--second-color);
}

