@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --first-color: #E80C7E;
    --second-color: #9D01DB;
    --third-color: #F00CF2;
    --fourth-color: #E8930C;

    --font: 'Lato', sans-serif;

    --width-container: 1200px;
}
*,*::after,*::before {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
}

body {
    font-family: var(--font);
}

.container {
    width: min(90%, var(--width-container));
    margin: 0 auto;
}

h1,
p {
    margin: 0;
}
.centrar {
    margin: 0 auto;
}
.sombra {
    box-shadow: 5px 5px 5px black;
}

section {
    padding: 15px;
}

.descripcion {
    padding: 15px;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

span {
    text-transform: uppercase;
}

img {
    max-width: 250px;
}
/* Header */
header {
    box-shadow: 2px 2px 2px black;
}
.navegacion {
    background-color: var(--first-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bolder;
}
/* Sección quien */
#quien {
    background-color: var(--second-color);
}
.quien__texto {
    font-size: 2em;
}
.quien__imagen{
    border-radius: 50%;
}
.descripcion{
    margin: 2% auto;
    border-radius: 10px;
    max-width: 75ch;
}

/* Sección trabajos */
#trabajos {
    background-color: var(--third-color);
}
.contenedorTarjetas > * {
    text-align: center;
}
.contenedorTarjetas img {
    border-radius: 15px;
}

/* Sección contacto */
#contacto {
    background-color: var(--first-color);
}
.flotante {
    font-size: 70px;
    padding: 1%;
    width: 50%;
    background-color: var(--fourth-color);
    border-radius: 15px;
    border: 1px solid black;
}
fieldset {
    border: none;
    font-size: 1.5em;
    width: 80%;
    margin: 0 0;
}
fieldset > * {
    width: 100%;
}
input, textarea,fieldset > div {
    border-radius: 5px;
    padding: 1%;
    width: 80%;
}
button {
    border: none;
    padding: 1%;
    background-color: var(--second-color);
    color: aliceblue;
    font-weight: bolder;
    cursor: pointer;
    width: 40%;
    margin: 1% 0;
}
/* Efectos */
button:hover{
    background-color: var(--third-color);
}
.flotante > *:hover{
    color: var(--second-color);
}

/* Cajas flexibles */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}