@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --first-color: #E80C7E;
    --second-color: #9D01DB;
    --third-color: #F00CF2;
    --fourth-color: #E8930C;

    --font: 'Lato', sans-serif;

    --width-container: 1200px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding);
    box-sizing: border-box;
}
*,*::after,*::before {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    background-color: var(--first-color);
}
/* Ocultar scroll */
::-webkit-scrollbar {
    display: none;
}

.container {
    width: min(90%, var(--width-container));
    margin: 0 auto;
}

h1,
p {
    margin: 1%;
}
h1 {
    color: white;
}
.centrar {
    margin: 0 auto;
}
.sombra {
    box-shadow: 5px 5px 5px black;
}

section {
    padding: 15px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    text-transform: uppercase;
}

img {
    max-width: 250px;
}
/* Header */
header {
    box-shadow: 0px 1px 5px black;
    z-index: 30;
    width: 100vw;
}
.navegacion {
    background-color: var(--first-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bolder;
    z-index: 20;
}
nav a {
    color: white;
}
nav a:hover {
    color: black;
}
/* Secci贸n quien */
#quien {
    background-color: var(--second-color);
}
.paddingGrande {
    padding: 5%;
}
.quien__texto {
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px black;
    z-index: 10;
}
.uno {
    margin: 0;
}
.quien__imagen{
    border-radius: 50%;
    z-index: 5;
}
.descripcion {
    padding: 15px;
    background-color: white;
    margin: 2% auto;
    border-radius: 10px;
    max-width: 75ch;
    text-align: justify;
    color: black;
}
/* Circulos */
.relativo {
    position: relative;
}
.bigCircle {
    position: absolute;
    right: 20%;
    top: 15%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: var(--first-color);
}
.mediumCircle {
    position: absolute;
    right: 35%;
    top: 30%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--fourth-color);
}
.smallCircle {
    position: absolute;
    right: 30%;
    top: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--third-color);
}
/* Secci贸n stacks */
#stacks .flex {
    justify-content: space-evenly;
    padding: 2em;
} 
#stacks i {
    font-size: 4em;
}
#stacks .fa-brands:hover {
    color: white;
}
/* Secci贸n trabajos */
#trabajos {
    background-color: var(--third-color);
}
.contenedorTarjetas > * {
    text-align: center;
    padding: 1%;
    background-color: var(--first-color);
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 5px black;
    height: fit-content;
}
.contenedorTarjetas > *:hover {
    filter: brightness(.75);
}
.contenedorTarjetas > * > * {
    padding: 1%;
}
.contenedorTarjetas img {
    border-radius: 15px;
}
.thumbnail {
    height: 200px;
}
/* Secci贸n contacto */
#contacto {
    background-color: var(--first-color);
}
fieldset {
    border: none;
    width: 80%;
    margin: 0 0;
}
fieldset > * {
    width: 100%;
}
input, textarea,fieldset > div {
    border-radius: 5px;
    padding: 1%;
    width: 90%;
    font-size: 1.5em;
}
button {
    border: none;
    padding: 1%;
    background-color: var(--second-color);
    color: aliceblue;
    font-weight: bolder;
    cursor: pointer;
    width: 40%;
    margin: 1% 0;
}
/* Cajas flexibles */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}
.contenedorTarjetas {
    gap: 50px;
}
/* Flotante redes */
.flotante {
    position: sticky;
    left: 25%;
    bottom: 2%;
    width: 40vw;
    font-size: 16px;
    font-size: 2.5em;
    padding: 1%;
    background-color: var(--fourth-color);
    border-radius: 15px;
    border: 1px solid black;
    justify-content: space-evenly;
    opacity: .7;
    margin-top: 1.5rem;
}
.flotante:hover {
    opacity: 1;
}
/* Efectos */
button:hover{
    background-color: var(--third-color);
}
.flotante > *:hover{
    color: var(--second-color);
}
/* Animaciones */

@keyframes circles {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
  }

#quien :is(.bigCircle,.mediumCircle,.smallCircle) {
    animation-name: circles;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* Media query */
@media (max-width: 390px) { 
    #contacto, fieldset, fieldset > *, form{
        padding: 0;
        margin: 0;
    }
    fieldset{
        width: 100%;
    }
    .quien__texto{
        font-size: 1.5rem;
    }
 }